---
os: linux
language: python
python: 3.7

branches:
  only: master

env:
  - TASK=fmt-travis
  - TASK=lint
  - TASK=test
  - TASK=coverage

jobs:
  include:

    # VERIFICATION OF TEST INFRASTRUCTURE
    - name: "run yamllint 1.23.0 on .travis.yml"
      python: "3.7.6"
      install: pip install yamllint==1.23.0
      env: TASK=yamllint

script: make -f Makefile $TASK