include CHANGES.txt
include LICENSE.txt
include Makefile
include MANIFEST.in
include README.rst
include setup.cfg
include src/hs_dbus_signature/*.py
include tests/*.py
include tox.ini
include .isort.cfg
