---
name: hs-dbus-signature CI

# yamllint disable-line rule:truthy
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  development_environment_checks:
    strategy:
      matrix:
        include:
          - dependencies: black python3-isort
            task: make -f Makefile fmt-travis
          - dependencies: yamllint
            task: make -f Makefile yamllint
          - dependencies: >
              pylint
              python-hypothesis
            task: PYTHONPATH=./src make -f Makefile lint
          - dependencies: python-hypothesis
            task: PYTHONPATH=./src make -f Makefile test
          - dependencies: >
              python-coverage
              python-hypothesis
            task: PYTHONPATH=./src make -f Makefile coverage
    runs-on: ubuntu-latest
    container: fedora:33
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: >
          dnf install -y
          make
          ${{ matrix.dependencies }}
      - name: ${{ matrix.task }}
        run: ${{ matrix.task }}
